.side-bar ul {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 300px;
   left: 0;
   filter: drop-shadow(0 2px 3px #4b507e15);
}

.side-bar li {
   width: 40px;
   height: 60px;
   background-color: #577a9b;
   display: flex;
   align-items: center;
   position: relative;
   transition: 300ms;
   color: #fff;
   transform-origin: left center;
}
.side-bar li::before {
   position: absolute;
   content: "";
   background-color: #577a9b;
   width: 25px;
   height: 100%;
   right: -25px;
   clip-path: polygon(0 0, 0% 100%, 100% 50%);

}

.side-bar li i {
   height: 45px ;
   width: 45px ;
   display: flex ;
   justify-content: center;
   align-items: center;
   font-size: 36px;
   position: absolute;
}

.side-bar li:hover {
   width: 160px;
}

.side-bar a {
   text-transform: capitalize;
   font-size: 20px;
   font-weight: 600;
   white-space: nowrap;
   position: absolute;
   transform: translateX(60px);
   padding-left: 10px;
   color: transparent;
   text-decoration: none;
}

.side-bar li:hover a {
   color: #fff;
}

.side-bar li a .img_social_media {
   position: absolute;
   height: 40px;
   left: -60px;
   top: -9px;
}
