header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding: 35px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   z-index: 1000;
   background-color: #3e556b; 
   /* box-shadow: 5px 5px 5px #2e4255; */
   filter: drop-shadow(1px 2px 1px #00000054);
}
.nav {
   display: flex;
}
.nav li {
   list-style: none;
}
.nav li a {
   padding: 10px;
   position: relative;
   color: #c0bfbf;
   text-decoration: none;
   margin-left: 25px;
   text-transform: uppercase;
   font-weight: 600;
   transition: .5s;
   border-radius: 5px;

}

.nav li a:hover {
   /* background: #797070; */
   color: #179E84;
   transform: translateY(-5px);
}

@media (max-width:991px) {
   header {
      padding: 20px 40px;
  }
  /* .logo {
   max-width: 70px;
   } */
   .nav {
      display: none;
   }
  .nav.active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #c0bfbf;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .nav li a {
      font-size: 1.5em;
      margin: 10px 0;
      display: inline-block;
  }
  .nav li a:hover {
      transform: scale(1.2);
      transition: 0.25s;
  }
  .toggle {
      position: relative;
      width: 32px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100000;
      cursor: pointer;
   }
   .toggle::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: #ffffff;
      transform: translateY(-10px);
      box-shadow: 0 10px 0 #222c29;
      transition: 0.25s;
   }
   .toggle.active::before {
      transform: translateY(0px) rotate(45deg);
      box-shadow: 0 0 0 #19201e;
   }
   .toggle::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: #ffffff;
      transform: translateY(10px);
      transition: 0.25s;
   }
   .toggle.active::after {
      transform: translateY(0px) rotate(-45deg);
      box-shadow: 0 0 0 #181f1c;
   }
}
